<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.dipoletechi.tasklocking" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TaskLockingPinning</name><js-module name="TaskLockingPinning" src="www/TaskLockingPinning.js"><clobbers target="cordova.plugins.TaskLockingPinning" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TaskLockingPinning"><param name="android-package" value="com.dipoletechi.tasklocking.TaskLockingPinning" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TaskLockingPinning.java" target-dir="src/com/dipoletechi/tasklocking/TaskLockingPinning" /></platform></plugin>