<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.dipoletechi.tasklocking" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-tasklocking-plugin</name><js-module name="cordova-tasklocking-plugin" src="www/cordova-tasklocking-plugin.js"><clobbers target="cordova.plugins.cordova-tasklocking-plugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova-tasklocking-plugin"><param name="android-package" value="com.dipoletechi.tasklocking.cordova-tasklocking-plugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova-tasklocking-plugin.java" target-dir="src/com/dipoletechi/tasklocking/cordova-tasklocking-plugin" /></platform></plugin>